{
  "title":           "Iemoto",
  "prefix":          "Iemoto",
  "description":     "This is a awesome cool theme.",
  "contributor":     "megumithemes",
  "homepage":        "https://digitalcube.jp/",
  "author_name":     "DigitalCube Co. Ltd.",
  "author_url":      "https://digitalcube.jp/",
  "repository_type": "git",
  "repository_url":  "",
  "license":         "GPLv2",
  "license_uri":     "http://www.gnu.org/licenses/gpl-2.0.html"
}
