@charset "UTF-8";
.alignleft {
	display: inline;
	float: left;
	margin-right: $alignment-margin;
	margin-bottom: $alignment-margin;
}
.alignright {
	display: inline;
	float: right;
	margin-left: $alignment-margin;
	margin-bottom: $alignment-margin;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
