@charset "UTF-8";
/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
$alignment-margin: 1.5em !default;
.alignleft {
	display: inline;
	float: left;
	margin-right: $alignment-margin;
}
.alignright {
	display: inline;
	float: right;
	margin-left: $alignment-margin;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
