@charset "UTF-8";
hr {
	border-top-style: $hr-border-style;
	border-top-color: $hr-border-color;
	border-top-width: $hr-border-width;
	height: 0;
	border: none;
	margin-top: $hr-margin;
	margin-bottom: $hr-margin;
}
ul, ol {
	margin: 0 0 $list-margin-bottom $list-margin-left;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $list-nested-margin-left;
}
dl {
	margin-bottom: $definition-margin-bottom;
}
dt {
	font-weight: $definition-header-weight;
	margin-bottom: $definition-header-margin-bottom;
}
dd {
	margin: 0 0 $definition-list-margin-bottom $definition-list-margin-left;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 0;
}
table {
	margin: 0 0 $table-margin-bottom;
	width: 100%;
	@if $table-border-collapse {
		border-collapse: collapse;
	}
	@if $table-background {
		background: $table-background;
	}
}
@if $table-row-padding {
td, th {
	padding: $table-row-padding;
}
}
@if $table-border {
td, th {
	border: $table-border;
}
}
th {
	font-weight: $table-head-font-weight;
	@if $table-head-font-color {
		color: $table-head-font-color;
	}
	@if $table-head-background {
		background: $table-head-background;
	}
}
