@charset "UTF-8";

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: $input-font-size; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include fontsize($button-font-size);
	color: $button-font-color;
	line-height: 1;
	@if $button-text-shadow {
		@include single-text-shadow($button-text-shadow-hoff, $button-text-shadow-voff, $button-text-shadow-blur, $button-text-shadow-spread, $button-text-shadow-color);
	}
	padding: $button-padding;
	background: $button-background;
	border: {
		color: $button-border-color;
		style: $button-border-style;
		width: $button-border-width;
	}
	@if $button-border-radius {
		@include border-radius($button-border-radius);
	}
	@if $button-box-shadow {
		box-shadow: $button-box-shadow;
	}
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */

	&:hover {
		background: $button-hover-background;
		border-color: $button-hover-border-color;
		@if $button-hover-box-shadow {
			box-shadow: $button-hover-box-shadow;
		}
	}

	&:focus, &:active {
		background: $button-focus-background;
		border-color: $button-focus-border-color;
		@if $button-focus-box-shadow {
			box-shadow: $button-focus-box-shadow ;
		}
	}
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
select {
	color: $select-font-color;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $input-font-color;
	border: {
		color: $input-border-color;
		style: $input-border-style;
		width: $input-border-width;
	}
	@if $input-border-radius {
		@include border-radius($input-border-radius);
	}
	@if $input-background {
		background: $input-background;
	}
	
	&:focus {
		color: $input-focus-font-color;
		@if $input-focus-background {
			background: $input-focus-background;
		}
	}
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: $input-box-padding;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: $input-box-padding;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}
