$base-font-size: 16px !default;
@function nounit($value) {
	@if (type-of($value) == number) {
		$_divisor: ($value * 0) + 1;
		@return $value / $_divisor;
	} @else {
		@warn "#{$value} is not a number.";
		@return $value;
	}
}

@function emCalc($px, $base: $base-font-size) {
	@return ( nounit($px) / nounit($base)) * 1em;
}

@mixin fontsize($size: $base-font-size) {
	font-size: nounit($size) + px;
	font-size: ( nounit($size) / 10) + rem;
}

$site-max-width: 1000px !default;
@mixin inner {
	margin: 0 auto;
	max-width: $site-max-width;
}

// 
// Default variables
// Don't change!
// 
$brake-point: 600px !default;
$sidebar-posion: right !default;
$sidebar-width: 300px !default;
$section-margin: 50px !default;
$entry-margin: 25px !default;

$body-background: #fff !default;
$border-color: #ccc !default;
$body-font-color: #404040 !default;
$body-font-family: sans-serif !default;
$body-line-height: 1.5 !default;
$header-font-weight: inherit !default;
$h1-font-size: inherit !default;
$h2-font-size: inherit !default;
$h3-font-size: inherit !default;
$h4-font-size: inherit !default;
$h5-font-size: inherit !default;
$h6-font-size: inherit !default;
$header-margin-bottom: 0 !default;
$paragraph-margin: 1.5em !default;
$blockquote-margin: $paragraph-margin !default;
$blockquote-font-color: false !default;
$blockquote-background: false !default;
$blockquote-border: false !default;
$blockquote-padding: false !default;
$address-margin-bottom: $paragraph-margin !default;
$pre-background: #eee !default;
$pre-font-family: "Courier 10 Pitch", Courier, monospace !default;
$pre-font-size: 15px !default;
$pre-line-height: 1.6 !default;
$pre-margin-bottom: 1.6em !default;
$pre-padding: 1.6em !default;
$code-font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace !default;
$acronym-underline: 1px dotted #666 !default;
$mark-background: #fff9c0 !default;
$small-font-size: 75% !default;
$big-font-size: 125% !default;
$hr-border-width: 1px !default;
$hr-border-style: solid !default;
$hr-border-color: $border-color !default;
$hr-margin: $paragraph-margin !default;
$list-margin-bottom: $paragraph-margin !default;
$list-margin-left: 3em !default;
$list-nested-margin-left: 1.5em !default;
$definition-margin-bottom: $paragraph-margin !default;
$definition-header-weight: inherit !default;
$definition-header-margin-bottom: 0 !default;
$definition-list-margin-bottom: 0 !default;
$definition-list-margin-left: 3em !default;
$table-margin-bottom: $paragraph-margin !default;
$table-border-collapse: false !default;
$table-background: false !default;
$table-row-padding: false !default;
$table-border: false !default;
$table-head-background: false !default;
$table-head-font-color: false !default;
$table-head-font-weight: bold !default;
$input-font-size: 100% !default;
$button-font-size: $base-font-size !default;
$button-font-color: rgba(0, 0, 0, .8) !default;
$button-text-shadow: false !default;
$button-text-shadow-hoff: false !default;
$button-text-shadow-voff: 1px !default;
$button-text-shadow-blur: false !default;
$button-text-shadow-spread: false !default;
$button-text-shadow-color: rgba(255, 255, 255, 0.8) !default;
$button-padding: 0.5em 1em !default;
$button-background: #e6e6e6 !default;
$button-border-color: $border-color !default;
$button-border-style: solid !default;
$button-border-width: 1px !default;
$button-border-radius: false !default;
$button-box-shadow: false !default;
$button-hover-background: lighten($button-background, 5%) !default;
$button-hover-border-color: lighten($border-color, 5%) !default;
$button-hover-box-shadow: false !default;
$button-focus-background: darken($button-background, 5%) !default;
$button-focus-border-color: darken($border-color, 5%) !default;
$button-focus-box-shadow: false !default;
$select-font-color: $body-font-color !default;
$input-font-color: #666 !default;
$input-background: false !default;
$input-focus-font-color: $body-font-color !default;
$input-focus-background: false !default;
$input-border-color: $border-color !default;
$input-border-style: solid !default;
$input-border-width: 1px !default;
$input-border-radius: false !default;
$input-box-padding: 3px !default;
$anchor-text-decoration: false !default;
$anchor-font-color: royalblue !default;
$anchor-font-color-visited: purple !default;
$anchor-font-color-hover: midnightblue !default;
$anchor-text-hover-decoration: false !default;
$main-navigation-a-padding: 0 !default;
$main-navigation-a-color: $anchor-font-color !default;
$main-navigation-a-background: transparent !default;
$main-navigation-secondary-top: 1.5em !default;
$main-navigation-secondary-width: 200px !default;
$main-navigation-secondary-background: white !default;
$main-navigation-secondary-shadow: false !default;
$main-navigation-secondary-shadow-color: rgba(0, 0, 0, 0.2) !default;
$main-navigation-secondary-shadow-hoff: 0px !default;
$main-navigation-secondary-shadow-voff: 3px !default;
$main-navigation-secondary-shadow-blur: 3px !default;
$main-navigation-secondary-shadow-spread: false !default;
$main-navigation-secondary-shadow-inset: false !default;
$main-navigation-secondary-a-padding: 0 !default;
$main-navigation-secondary-a-color: $anchor-font-color !default;
$main-navigation-secondary-a-background: transparent !default;
$main-navigation-hover-a-color: $anchor-font-color-hover !default;
$main-navigation-hover-a-background: transparent !default;
$main-navigation-secondary-hover-a-color: $anchor-font-color-hover !default;
$main-navigation-secondary-hover-a-background: transparent !default;
$main-navigation-current-a-color: $anchor-font-color-hover !default;
$main-navigation-current-a-background: transparent !default;
$main-navigation-secondary-current-a-color: $anchor-font-color-hover !default;
$main-navigation-secondary-current-a-background: transparent !default;
$page-navigation-margin-top: $entry-margin !default;
$page-navigation-margin-bottom: $entry-margin !default;
$page-navigation-border-top: false !default;
$page-navigation-border-bottom: false !default;
$page-navigation-padding-top: $entry-margin !default;
$page-navigation-padding-bottom: $entry-margin !default;
$page-navigation-a-width: 50% !default;
$alignment-margin: $paragraph-margin !default;
$widget-margin: 0 0 $entry-margin !default;
$widget-title-margin: 0 !default;
$hentry-margin: 0 0 $entry-margin !default;
$entry-content-margin: 10px 0 0 !default;
$page-links-margin: 0 0 10px !default;
$entry-footer-margin: 10px 0 0 !default;
$comments-area-margin: $entry-margin 0 0 !default;
$comments-title-margin: 0 0 1em !default;
$wp-caption-margin-bottom: $alignment-margin !default;
$wp-caption-text-size: false !default;
$wp-caption-text-align: center !default;
$wp-caption-text-margin: 0.8075em 0 !default;
$gallery-margin-bottom: $alignment-margin !default;
