@charset "UTF-8";
body,
button,
input,
select,
textarea {
	color: $body-font-color;
	font-family: $body-font-family;
	@include fontsize;
	line-height: $body-line-height;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: $header-font-weight;
	margin-bottom: $header-margin-bottom;
}
h1 {
	font-size: $h1-font-size;
}
h2 {
	font-size: $h2-font-size;
}
h3 {
	font-size: $h3-font-size;
}
h4 {
	font-size: $h4-font-size;
}
h5 {
	font-size: $h5-font-size;
}
h6 {
	font-size: $h6-font-size;
}
p {
	margin-bottom: $paragraph-margin;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: $blockquote-margin;
	@if $blockquote-font-color {
		color: $blockquote-font-color;
	}
	@if $blockquote-background {
		background: $blockquote-background;
	}
	@if $blockquote-border {
		border: $blockquote-border;
	}
	@if $blockquote-padding {
		padding: $blockquote-padding;
	}

	> *:last-child {
		margin-bottom: 0;
	}

}
address {
	margin-bottom: $address-margin-bottom;
}
pre {
	background: $pre-background;
	font-family: $pre-font-family;
	@include fontsize($pre-font-size);
	line-height: $pre-line-height;
	margin-bottom: $pre-margin-bottom;
	max-width: 100%;
	overflow: auto;
	padding: $pre-padding;
}
code, kbd, tt, var {
	@include fontsize($pre-font-size);
	font-family: $code-font-family;
}
abbr, acronym {
	border-bottom: $acronym-underline;
	cursor: help;
}
mark, ins {
	background: $mark-background;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: $small-font-size;
}
big {
	font-size: $big-font-size;
}
