@charset "UTF-8";
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		float: left;
		position: relative;
	}

	a {
		display: block;
		color: $main-navigation-a-color;
		text-decoration: none;
		padding: $main-navigation-a-padding;
		background: $main-navigation-a-background;
	}

	// secondary
	ul ul {
		background: $main-navigation-secondary-background;
		@if $main-navigation-secondary-shadow {
			@include single-box-shadow( $main-navigation-secondary-shadow-color, $main-navigation-secondary-shadow-hoff, $main-navigation-secondary-shadow-voff, $main-navigation-secondary-shadow-blur, $main-navigation-secondary-shadow-spread, $main-navigation-secondary-shadow-inset );
		}
		float: left;
		position: absolute;
		top: $main-navigation-secondary-top;
		left: -999em;
		z-index: 99999;

		ul {
			left: -999em;
			top: 0;
		}

		a {
			width: $main-navigation-secondary-width;
			color: $main-navigation-secondary-a-color;
			background: $main-navigation-secondary-a-background;
			padding: $main-navigation-secondary-a-padding;
		}

		li {
		}

	}

	// hover
	li:hover > a {
		color: $main-navigation-hover-a-color;
		background: $main-navigation-hover-a-background;
	}

	ul ul :hover > a {
		color: $main-navigation-secondary-hover-a-color;
		background: $main-navigation-secondary-hover-a-background;
	}

	ul ul a:hover {
	}

	ul li:hover > ul {
		left: auto;
	}
	ul ul li:hover > ul {
		left: 100%;
	}

	// current item
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: $main-navigation-current-a-color;
		background: $main-navigation-current-a-background;
	}
	ul ul .current_page_item > a,
	ul ul .current-menu-item > a {
		color: $main-navigation-secondary-current-a-color;
		background: $main-navigation-secondary-current-a-background;
	}

}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: $brake-point) {

	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}

}

