@charset "UTF-8";
/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
}
.hentry {
	margin: $hentry-margin;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: $entry-content-margin;
}
.page-links {
	clear: both;
	margin: $page-links-margin;
}
.entry-footer {
	clear: both;
	margin: $entry-footer-margin;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comments-area,
.comment-respond {
	margin: $comments-area-margin;
}
.comments-title,
.comment-reply-title {
	margin: $comments-title-margin;
}

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

