@charset "UTF-8";
/*--------------------------------------------------------------
13.0 Layout
--------------------------------------------------------------*/
.site {
	@include inner;
}

/*--------------------------------------------------------------
13.1 Media Queries (for PC)
--------------------------------------------------------------*/
@media screen and (min-width: $brake-point) {

@if $sidebar-posion == right {
// Layout: Content-Sidebar
.content-area {
	float: left;
	margin: {
		top: 0;
		right: -($sidebar-width + $section-margin);
		bottom: 0;
		left: 0;
	}
	width: 100%;
}
.site-main {
	margin: {
		top: 0;
		right: $sidebar-width + $section-margin;
		bottom: 0;
		left: 0;
	}
}
.site-content .widget-area {
	float: right;
	width: $sidebar-width;
}
} // Layout: Content-Sidebar

// Layout: Sidebar-Content
@if $sidebar-posion == left {
.content-area {
	float: right;
	margin: {
		top: 0;
		right: 0;
		bottom: 0;
		left: -($sidebar-width + $section-margin);
	}
	width: 100%;
}
.site-main {
	margin: {
		top: 0;
		right: 0;
		bottom: 0;
		left: $sidebar-width + $section-margin;
	}
}
.site-content .widget-area {
	float: left;
	width: $sidebar-width;
}
} // Layout: Sidebar-Content

// Don't change!
.site-footer {
	clear: both;
	width: 100%;
}

}//media
