@charset "UTF-8";
.widget {
	margin: $widget-margin;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

.widget-title,
.widgettitle {
	margin: $widget-title-margin;
}
